    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
    <div class="hero__text">
        <h1>
              Oops page is not found!
        </h1>
        <p>
            Please return to the previous page or contact us for more information
        </p>
        

    </body>
    <script src="script.js"></script>
    </html>