<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="hero__text">
        <h1>
            About our project
          </h1>
          <h2>
              Bach Khoa Internet-Of-Things
          </h2>
          <h3>
              By Minh Tam & Vinh Dinh
          </h3>
          <p>
    
          Traditionally, to measure the amount of electricity used in a residence, a business, or simply an electrically powered device, an electricity meter is used. 
          The meter keeps track of how much power is used over a time interval, usually in kilowatts per hour (kWh). Then the billing is calculated based on current rate. 
          This has been the standard power management method for generations, and it was sufficient for the time. 
          However, as more and more electrical appliances are being used in a household, naturally, the electricity bill also increases on par with said quantity. 
          Most of the time, a noticeable portion of the bill is from unnoticed devices left on, making the use ineffective, performance and cost wise. 
          Thus, this study focuses on developing a system that can keep track of consumed power and active time of each electrical appliance, visualize the data on a website for viewing convenience, and predict when the device is about to fail so user can take action on time to save time and labour
        </p>
        <div class="shake-hand-image"> </div>
        <div class="p1">
            <p>
            Me and my boy Dinh shaking our hands when we finished this project. Circa 2021
        </p>
    </div>
        


        



    </div>
    
    





</body>

<script src="script.js"></script>

