<%- include('./partials/head.ejs') %>
 
<body>
    <%- include('./partials/nav.ejs') %>
    
  <section class="hero">
    <div class="hero__image">


    </div>
    <div class="hero__text">
      <h1>
        An Internet-Of-Things Solution For Energy Saving
      </h1>
      <p>
        Managing power through online service. Your BKIOT account will be a hub for saving and budgeting financial
      </p>
      <a href="/signup" class="button hero__cta">Sign Up</a>

    </div>
  </section>
  


  
  
 
  <script src="script.js"></script>
</body>
</html>